/*
 * https://developers.google.com/maps/documentation/javascript/tutorial#HTML5
 *
 */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/*
 * http://www.thechrisoshow.com/2013/05/07/use-a-google-map-as-the-background-of-your-webpage/
 *
 */

#container {
  z-index: 100;
  position: relative;
}

#map {
  height: 100%;
  position: absolute; 
  top: 0; 
  bottom: -200px; 
  left: 0; 
  right: 0; 
  z-index: 0;
}

